defaults:
  - _self_

# Generator
generator:
  _target_: src.model.hifigan.Generator
  in_channels: 80
  upsample_rates: [8, 8, 2, 2]
  upsample_kernel_sizes: [16, 16, 4, 4]
  upsample_initial_channel: 512
  resblock_kernel_sizes: [3, 7, 11]
  resblock_dilation_sizes: [[1, 3, 5], [1, 3, 5], [1, 3, 5]]

# Dataset
dataset:
  _target_: src.datasets.custom_dir_dataset.CustomDirDataset
  data_dir: "data/test"
  audio_dir: null
  transcription_dir: null
  target_sr: ${preprocess.audio.sr}
  compute_mel: true
  n_fft: 1024
  hop_length: 256
  n_mels: 80
  f_min: 0.0
  f_max: 8000.0

dataloader:
  _target_: torch.utils.data.DataLoader
  batch_size: 1
  num_workers: 0
  pin_memory: true

preprocess:
  audio:
    sr: 22050

synthesize:
  device: auto
  checkpoint_path: "saved/generator.pth"
  output_dir: ${dataset.data_dir}/outputs
  remove_weight_norm: true
  save_gt: true
  save_hf: true

  # mode: "resynthesis" (Audio -> Mel -> Vocoder)
  # mode: "full_tts"    (Text -> MMS -> Audio_temp -> Mel -> Vocoder)
  mode: "resynthesis"

  # Настройки для HuggingFace модели (если mode=full_tts)
  acoustic_model:
    model_name: "facebook/mms-tts-rus"
